* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

.header{
	background: url(img/headerbg.png) no-repeat;
	padding-bottom: 80px;
}

.header-top{
	display: flex;
	justify-content: space-around;
}

.logo{
	margin-top: 15px;
}

.menu{
	margin-top: 30px;
}

.menu ul li {
	display: inline-block;
	margin-left: 25px;
}

.menu ul li a {
	color: #ffffff;
	font-family: "Roboto - Black";
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.7s all ease;
}

.menu ul li a:hover {
	color: #00e0d0;
}


.header-content{
	margin-top: 180px;
	text-align: center;
}

.line{
	margin-top: 13px;
	margin-bottom: 16px;
}

h1{
	color: #ffffff;
	font-family: "Playfair Display - Black";
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 0.32px;
}

.text{
	margin: auto auto 50px auto;
}

p{
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.7px;
	text-align: center;
}

.learn-more1 button{
	width: 120px;
	height: 42px;
	background: transparent;
	color: #00e0d0;
	font-family: "Hammersmith One";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #00e0d0;
}


.buttons button{
	border: 1px solid #00e0d0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: transparent;
	margin-top: 125px;
}

.buttons button:hover{
	background:#00e0d0;
}

.content-first{
	display: flex;
	justify-content: space-around;
	max-width: 885px;
	margin: 70px auto;
}


.our-story p{
	color: #413d4b;
	font-family: "Playfair Display";
	font-size: 22px;
	letter-spacing: 1.1px;
	margin-bottom: 32px;
	text-align: left;
	font-weight: bold;
}

.our-story-text{
	opacity: 0.75;
	color: #413d4b;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.42px;
	text-align: left;
	margin-bottom: 32px;
}


.learn-more2{
	width: 120px;
	margin: 0 auto;
	padding-bottom: 70px;
}

.learn-more2 button{
	width: 120px;
	height: 42px;
	background: transparent;
	color: #00e0d0;
	font-family: "Hammersmith One";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #00e0d0;
}

@media screen and (max-width: 624px){
	.content-first{
		flex-direction: column;
	}
	.img-logo{
		margin: 0 auto;
		width: 235px;
	}
	.our-story{
		margin: 40px auto;
		width: 135px;
	}
	.text-story{
		padding: 0px 50px;
	}

}

.content-play{
	background: url(img/PUT_YOUR_IMAGE_HERE.png) no-repeat;
	padding: 205px 0;
}

.play{
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50px;
	margin: 0 auto;
}

.play button{
	background: transparent;
	border:none;
	padding: 25px 35px;
}

.watch{
	margin-top: 30px;
	color: #ffffff;
	font-family: "Roboto - Black";
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

.content-third{
	margin-top: 70px;
}

.expertise{
	color: #413d4b;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

.exp-text{
	opacity: 0.75;
	color: #2f2d35;
	font-family: "Playfair Display";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1.05px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.separator2{
	margin: 0 auto;
	width: 50px;
	margin-bottom: 50px;
}

.content-boxes{
	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	margin: 0 auto;
  	justify-content: center;
  	margin-bottom: 70px;
  	max-width: 970px;
}

.box-img{
	margin: 0 auto;
	display: block;
	height: 50px;

}

.box-title{
	color: #413d4b;
	font-family: "Roboto - Black";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	margin-top: 30px;
	margin-bottom: 25px;
	text-align: center;
}

.box-text{
	opacity: 0.75;
	color: #333333;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	letter-spacing: 0.7px;
	text-align: center;
}

.box1{
	 width: 320px;
	 height: 250px;
	 border-right: 1px solid lightgrey;
	 border-bottom: 1px solid lightgrey;
	 padding: 30px 30px 30px 30px;	
}
.box2{
	 width: 320px;
	 height: 250px;
	 border-right: 1px solid lightgrey;
	 border-bottom: 1px solid lightgrey;
	 padding: 30px 30px 30px 30px;	
}
.box3{
	 width: 320px;
	 height: 250px;
	 border-bottom: 1px solid lightgrey;
	 padding: 30px 30px 30px 30px;	
}
.box4{
	 width: 320px;
	 height: 250px;
	 border-right: 1px solid lightgrey;
	 padding: 30px 30px 30px 30px;
}
.box5{
	 width: 320px;
	 height: 250px;
	 border-right: 1px solid lightgrey;
	 padding: 30px 30px 30px 30px;
}
.box6{
	 width: 320px;
	 height: 250px;
	 padding: 30px 30px 30px 30px;
}

@media screen and (max-width: 959px){
	.box1{
		border: none;
	}
	.box2{
		border: none;
	}
	.box3{
		border: none;
	}
	.box4{
		border: none;
	}
	.box5{
		border: none;
	}
	.box6{
		border: none;
	}
}

.content-team{
	background: url(img/team_background.png) no-repeat;
	padding-top: 70px;
	padding-bottom: 30px;
	background-size: auto;
	background-position: center;
	background-size: cover;
}
.team{
	margin-bottom: 40px;
}

.team-title{
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

.team-text{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Playfair Display";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1.05px;
}

.separator3{
	width: 50px;
	margin: 0 auto;
}

.team-members{
	display: flex;
  	justify-content: space-around;
  	max-width: 940px;
  	margin: 0 auto;
}

.member{
	width: 221px;
	height: 308px;
	border: 1px solid lightgrey;
}

.name{
	color: #ffffff;
	font-family: "Roboto - Black";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	margin-top: 13px;
}

.position{
	opacity: 0.7;
	color: #fafafa;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
}

.hiring{
	margin-top: 70px;
}

.hiring-text{
	color: #f3f3f3;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.7px;
	margin-bottom: 27px;
}

.hiring-button{
	margin: 0 auto;
	width: 140px;
}

.hiring-button button{
	width: 140px;
	height: 40px;
	background: transparent;
	color: #00e0d0;
	font-family: "Hammersmith One";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #00e0d0;
}

@media screen and (max-width: 910px){
	.team-members{
		flex-direction: column;
		max-width: 220px;
		margin: 0 auto;
	}
}

.our-works{
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	margin-bottom: 70px;
}
@media screen and (max-width: 910px){
	.rectangles{
		align-items: center;
		max-width: 900px;
		margin: 0 auto;
	}
}

.our-works-title{
	color: #413d4b;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

.see-all{
	display: flex;
	justify-content: space-around;
}

.right-img{
	margin-left: 10px;
	margin-top: -2px;
}

.see-all-text{
	color: #413d4b;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.7px;
	display: inline-block;
}


.rectangle-img{
	float: left;
}

.load-more{
	width: 140px;
	margin: 70px auto;
}

.load-more button{
	width: 120px;
	height: 42px;
	background: transparent;
	color: #00e0d0;
	font-family: "Hammersmith One";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #00e0d0;
}

.clear{
	clear: both;
}

.content-quote{
	background: url(img/background3.png) no-repeat;
	padding-top: 70px;
	padding-bottom: 70px;
	background-size: cover;
}

.quote-img{
	width: 32px;
	margin: 0 auto 45px auto;
}

.quote-text{
	margin: 0 auto;
}

.quote-text1{
	opacity: 0.85;
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.4px;
	margin-bottom: 50px;
}

.quote-people{
	display: flex;
	justify-content: space-around;
	max-width: 395px;
	margin: 30px auto;
}

.person1{
	margin-top: 16px;
}

.angles{
	margin-top: 26px;
}


.contact{
	margin: 100px auto 70px auto;
	display: flex;
	justify-content: space-around;
	max-width: 980px;
}

.contact-form ul li h1{
	color: #413d4b;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

.contact-form ul li{
	list-style-type: none;
	margin-bottom: 25px;
}

.contact-form ul li input{
	width: 460px;
	height: 45px;
	border: none;
	border: 1px solid #000000;
	opacity: 0.1;
}
.contact-form ul li textarea{
	width: 460px;
	height: 200px;
	border: none;
	border: 1px solid #000000;
	opacity: 0.1;
}
.contact-form ul li button{
	width: 120px;
	height: 40px;
	background: transparent;
	color: #00e0d0;
	font-family: "Hammersmith One";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #00e0d0;

}
.client{
	width: 300px;
	text-align: center;
}
.happy-client h1{
	color: #413d4b;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.1px;
}


.brands{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 45px;
}

.brands1 ul li{
	list-style-type: none;
	margin-bottom: 50px;
}

.brands2 ul li{
	list-style-type: none;
	margin-left: 80px;
	margin-bottom: 50px;
}


@media screen and (max-width: 860px){
	.contact{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact-form{
		margin: 0 auto;
		max-width: 500px ;
	}
	.brands{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: ;
	}
	.happy-client{
		margin: 50px auto 70px auto;
		max-width: 300px;
	}
	.brands2 ul li{
		margin-left: 0;
	}
}

.footer{
	padding-bottom: 70px;
	background: url(img/background4.png) no-repeat;
	background-size: cover;
}

.items{
	display: flex;
	justify-content: space-around;
}

.tajam{
	padding-top: 70px;
	width: 283px;
}

.tajam-text{
	margin-top: 30px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 0.35px;
	text-align: left;
	margin-left: 5px;
}
.address{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.loc{
	margin-top: 4px;
	margin-right: 10px;
}

.our-studio{
	width: 275px;
	padding-top: 90px;

}

.our-studio h2{
	color: #ffffff;
	font-family: "Roboto - Black";
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.75px;

}
.add-text p{
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 0.35px;
	text-align: left;
}

.phone{
	display: flex;
	justify-content: space-between;
	max-width: 160px;
	margin-top: 25px;
}

.stay-in-touch{
	width: 296px;
	padding-top: 90px;
	display: flex;
	flex-flow: column;
}

.stay-text h2{
	color: #ffffff;
	font-family: "Roboto - Black";
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}

.newsletter{
	display: flex;
	justify-content: space-between;
	max-width: 295px;
	margin-top: 32px;
	margin-bottom: 27px;
}

.subscribe input{
	border: none;
	width: 211px;
	height: 45px;
	border: 1px solid #ffffff;
	opacity: 0.75;
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 0.7px;
}

.subscribe-btn button{
	color: transparent;
	width: 70px;
	height: 45px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	opacity: 0.5;
}


.socials ul li{
	width: 35px;
	height: 35px;
	border: 1px solid #ffffff;
	border-radius: 20px;
	margin: 0 auto;
	display: inline-block;
	list-style-type: none;
	float: left;
	margin-right: 10px;
}

.socials ul li button{
	background: transparent;
	border: none;
	padding: 7px 7px;
}

.copyright{
	margin-top: 70px;
	display:flex;
	justify-content: space-around;
}

.left-side ul li a{
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	list-style-type: none;
	margin-right: 40px;
}
.left-side ul li{
	display: inline-block;
}

.tajem-creative{
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.35px;
}



@media screen and (max-width: 850px){
	.items{
		flex-direction: column;
		max-width: 300px;
		margin: 0 auto;
		text-align: center;
	}
}













